section {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 45rem;

  h3 {
    text-align: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 2rem;
  }
  .input-container {
    display: flex;
    align-items: center;
    position: relative;
    > label {
      width: 6rem;
      margin-right: 1rem;
      flex-shrink: 0;
    }
  }
  #name {
    width: 100%;
    border: 1px solid #d4d4d4;
    padding: 0.5rem 2.5rem 0.5rem 0.5rem;
    border-radius: 3px;
  }
  .address {
    padding: 0.5rem 1rem;
    border-radius: 3px;
    border: 1px solid #d4d4d4;
    background-color: #f4f4f4;
  }
  .delete {
    position: absolute;
    right: 0.5rem;
    top: 50%;
    transform: translateY(-50%);
    width: 1.8rem;
    height: 1.8rem;
    background: url('/src/assets/images/delete.svg') center/ 1.8rem 1.8rem no-repeat;
  }
  #zipcode {
    width: 10rem;
    margin-left: 1rem;
  }
  > section {
    margin: 0 auto;
  }
  .button-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
